@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Sacramento&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    stroke-linecap: round;
    stroke-linejoin: round;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Sacramento, Roboto, sans-serif;
    font-size: 5vw;
    background-image: linear-gradient(-5deg, rgba(255,128,0,.45), rgba(255,0,255,.45)), url(papel-bg.jpg);
    background-size: 100vw;
    box-shadow: inset 0 0 30vw rgba(200,0,100,.8);
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5vh 5vw;
  z-index: 5;
}

header {
    position: absolute;
    top: 10vh;
    left: calc( 50vw - 7vh );
    width: 14vh;
    height: 14vh;
    border-radius: 50%;
    border: 1vh solid #FFA;
    background: #F40 url(Nana.Veg.icon.svg) 60% 55% no-repeat;
    background-size: 75%;
    box-shadow: .1vh .1vh .5vh rgba(0,0,0,.8);
}
@media (orientation: landscape) {
  header {
      top: 10vh;
      left: 10vh;
  }
}

h1 {
    width: 80vw;
    height: 80vh;
    font-family: Cookie, cursive;
    font-weight: normal;
    font-size: 2px;
    color: transparent;
}

#page-404 #msg, #page-pizza #msg {
    position: absolute;
    left: 5vw;
    bottom: 9vh;
}

#page-404 #msg code {
    letter-spacing: -0.2em;
}

nav {
    position: absolute;
    top: 25vh;
    right: 10vw;
    font-size: 15vw;
}
@media (orientation: landscape) {
    nav {
        top: 5vh;
        font-size: 6vw;
    }
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav li {
    list-style: none;
    padding: 1vh 0;
}
@media (orientation: landscape) {
    nav li {
        padding: 0;
    }
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    position: relative;
    z-index: 2;
}

nav a::before {
    content: "";
    position: absolute;
    display: block;
    top: 0.4em;
    bottom: 0.4em;
    left: -0.3em;
    right: -0.3em;
    border-radius: 0.06em;
    background: linear-gradient(90deg, #FC0, #D80);
    transform: rotate(-7deg);
    opacity: 0.4;
    z-index: -1;
    transition: 1s;
}
nav a:hover::before {
    opacity: 1;
    transition: .3s;
}

#link-marmita a {
  font-size: .8em;
  line-height: 1.666em;
  text-shadow: .006em .006em 0 #000;
}

.palavra {
    position: absolute;
    font-size: 6vw;
    color: rgba(100,0,80,.2);
    transition: 25s linear, color 1s;
}
@media (orientation: landscape) {
    .palavra {
        font-size: 5vw;
    }
    .palavra-duplicada {
        display: none;
    }
}

footer {
    position: fixed;
    bottom: 0.3em;
    right: 0;
    font-size: 8vw;
}

footer a {
    text-decoration: none;
    color: #000;
    margin-right: 1em;
}

footer a i {
    position: relative;
    display: inline-block;
    margin-right: -0.5vw;
    width: .8em;
    height: .8em;
    vertical-align: middle;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

@media (orientation: landscape) {
    footer {
        font-size: 4vw;
    }
}

#instagram i {
    background-image: url(instagram.svg);
}

#WhatsApp span {
    font-size: 0.5em;
    text-shadow: .01em .01em 1px #000, .01em -.01em 1px #000;
}
#WhatsApp i {
    width: .9em;
    height: .9em;
    background-image: url(WhatsApp.svg);
}
